USE [master]
GO
/****** Object:  Database [Car_Dealership]    Script Date: 01/01/2025 18:40:58 ******/
CREATE DATABASE [Car_Dealership]
GO
use [Car_Dealership]
GO
CREATE TABLE [dbo].[Parts](
	[partID] [decimal](18, 0) NOT NULL,
	[partName] [nvarchar](100) NULL,
	[purchasePrice] [money] NULL,
	[retailPrice] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[partID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Parts] ([partID], [partName], [purchasePrice], [retailPrice]) VALUES (CAST(101 AS Decimal(18, 0)), N'Ắc quy', 1345000.0000, 1750000.0000)
INSERT [dbo].[Parts] ([partID], [partName], [purchasePrice], [retailPrice]) VALUES (CAST(102 AS Decimal(18, 0)), N'Dầu trợ lực lái', 12000.0000, 155000.0000)
INSERT [dbo].[Parts] ([partID], [partName], [purchasePrice], [retailPrice]) VALUES (CAST(103 AS Decimal(18, 0)), N'Lọc nhiên liệu', 78000.0000, 99000.0000)
/****** Object:  Table [dbo].[Mechanic]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mechanic](
	[mechanicID] [decimal](18, 0) NOT NULL,
	[mechanicName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[mechanicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mechanic] ([mechanicID], [mechanicName]) VALUES (CAST(41051230025 AS Decimal(18, 0)), N'Cao Xuân Trường')
INSERT [dbo].[Mechanic] ([mechanicID], [mechanicName]) VALUES (CAST(41051230026 AS Decimal(18, 0)), N'Nguyễn Nam Ninh')
INSERT [dbo].[Mechanic] ([mechanicID], [mechanicName]) VALUES (CAST(41051230027 AS Decimal(18, 0)), N'Đoàn Huy An')
/****** Object:  Table [dbo].[Customer]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[custID] [decimal](18, 0) NOT NULL,
	[custName] [nvarchar](100) NULL,
	[phone] [decimal](18, 0) NULL,
	[sex] [char](5) NULL,
	[cusAddress] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[custID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([custID], [custName], [phone], [sex], [cusAddress]) VALUES (CAST(11013 AS Decimal(18, 0)), N'Phạm Nguyên Dũng', CAST(906572342 AS Decimal(18, 0)), N'M    ', N'Long An')
INSERT [dbo].[Customer] ([custID], [custName], [phone], [sex], [cusAddress]) VALUES (CAST(11019 AS Decimal(18, 0)), N'Nguyễn Thị Thùy Dung', CAST(753634123 AS Decimal(18, 0)), N'F    ', N'TP. Hà Nội')
INSERT [dbo].[Customer] ([custID], [custName], [phone], [sex], [cusAddress]) VALUES (CAST(11024 AS Decimal(18, 0)), N'Hà Mỹ Duyên', CAST(763989821 AS Decimal(18, 0)), N'F    ', N'Nam Định')
/****** Object:  Table [dbo].[Cars]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[carID] [decimal](18, 0) NOT NULL,
	[serialNumber] [nvarchar](100) NULL,
	[model] [nvarchar](100) NULL,
	[colour] [nvarchar](100) NULL,
	[year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([carID], [serialNumber], [model], [colour], [year]) VALUES (CAST(1122334454 AS Decimal(18, 0)), N'2ABC2ABC2ABC2ABC2', N'chevrolet', N'Silver', 2017)
INSERT [dbo].[Cars] ([carID], [serialNumber], [model], [colour], [year]) VALUES (CAST(1122334455 AS Decimal(18, 0)), N'1ABC1ABC1ABC1ABC1', N'volkswagen', N'Black', 2017)
INSERT [dbo].[Cars] ([carID], [serialNumber], [model], [colour], [year]) VALUES (CAST(1122334456 AS Decimal(18, 0)), N'3ABC3ABC3ABC3ABC3', N'Tundra LX', N'Gray', 2019)
/****** Object:  Table [dbo].[Service]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[serviceID] [int] NOT NULL,
	[serviceName] [nvarchar](100) NULL,
	[hourlyRate] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Service] ([serviceID], [serviceName], [hourlyRate]) VALUES (1, N'Thay nhớt', 1000000.0000)
INSERT [dbo].[Service] ([serviceID], [serviceName], [hourlyRate]) VALUES (2, N'Vệ sinh lọc gió động cơ', 2000000.0000)
INSERT [dbo].[Service] ([serviceID], [serviceName], [hourlyRate]) VALUES (3, N'Vệ sinh lọc điều hòa, máy lạnh', 1800000.0000)
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[salesID] [decimal](18, 0) NOT NULL,
	[salesName] [nvarchar](100) NULL,
	[birthday] [date] NULL,
	[sex] [char](5) NULL,
	[salesAddress] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[salesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SalesPerson] ([salesID], [salesName], [birthday], [sex], [salesAddress]) VALUES (CAST(30121050004 AS Decimal(18, 0)), N'Mai Duy An', CAST(0x8EF60A00 AS Date), N'M    ', N'Long An')
INSERT [dbo].[SalesPerson] ([salesID], [salesName], [birthday], [sex], [salesAddress]) VALUES (CAST(30121050015 AS Decimal(18, 0)), N'Huỳnh Mai Anh', CAST(0xB8EF0A00 AS Date), N'F    ', N'TP. Hồ Chí Minh')
INSERT [dbo].[SalesPerson] ([salesID], [salesName], [birthday], [sex], [salesAddress]) VALUES (CAST(30121050027 AS Decimal(18, 0)), N'Nguyễn Thúy Quỳnh Anh', CAST(0x9A030B00 AS Date), N'F    ', N'Nam Định')
/****** Object:  Table [dbo].[SalesInvoice]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoice](
	[invoiceID] [int] NOT NULL,
	[invoiceDate] [date] NULL,
	[salesID] [decimal](18, 0) NULL,
	[carID] [decimal](18, 0) NULL,
	[custID] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SalesInvoice] ([invoiceID], [invoiceDate], [salesID], [carID], [custID]) VALUES (1, CAST(0xFE410B00 AS Date), CAST(30121050004 AS Decimal(18, 0)), CAST(1122334454 AS Decimal(18, 0)), CAST(11013 AS Decimal(18, 0)))
INSERT [dbo].[SalesInvoice] ([invoiceID], [invoiceDate], [salesID], [carID], [custID]) VALUES (2, CAST(0x9D400B00 AS Date), CAST(30121050015 AS Decimal(18, 0)), CAST(1122334455 AS Decimal(18, 0)), CAST(11019 AS Decimal(18, 0)))
INSERT [dbo].[SalesInvoice] ([invoiceID], [invoiceDate], [salesID], [carID], [custID]) VALUES (3, CAST(0x35420B00 AS Date), CAST(30121050027 AS Decimal(18, 0)), CAST(1122334456 AS Decimal(18, 0)), CAST(11024 AS Decimal(18, 0)))
/****** Object:  Table [dbo].[ServiceTicket]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTicket](
	[serviceTicketID] [int] NOT NULL,
	[dateReceived] [date] NULL,
	[dateReturned] [date] NULL,
	[custID] [decimal](18, 0) NULL,
	[carID] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceTicketID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ServiceTicket] ([serviceTicketID], [dateReceived], [dateReturned], [custID], [carID]) VALUES (10111231, CAST(0x1D420B00 AS Date), CAST(0x23420B00 AS Date), CAST(11013 AS Decimal(18, 0)), CAST(1122334454 AS Decimal(18, 0)))
INSERT [dbo].[ServiceTicket] ([serviceTicketID], [dateReceived], [dateReturned], [custID], [carID]) VALUES (10111232, CAST(0x55430B00 AS Date), CAST(0x5D430B00 AS Date), CAST(11078 AS Decimal(18, 0)), CAST(1122334472 AS Decimal(18, 0)))
INSERT [dbo].[ServiceTicket] ([serviceTicketID], [dateReceived], [dateReturned], [custID], [carID]) VALUES (10111233, CAST(0xB5400B00 AS Date), CAST(0xC1400B00 AS Date), CAST(11089 AS Decimal(18, 0)), CAST(1122334473 AS Decimal(18, 0)))
/****** Object:  Table [dbo].[ServiceMehanic]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceMehanic](
	[serviceTicketID] [int] NOT NULL,
	[serviceID] [int] NOT NULL,
	[mechanicID] [decimal](18, 0) NOT NULL,
	[hours] [int] NULL,
	[comment] [text] NULL,
	[rate] [money] NULL,
 CONSTRAINT [PRK_serviceTicketID_serviceID_mechanicID] PRIMARY KEY CLUSTERED 
(
	[serviceTicketID] ASC,
	[serviceID] ASC,
	[mechanicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ServiceMehanic] ([serviceTicketID], [serviceID], [mechanicID], [hours], [comment], [rate]) VALUES (10111231, 1, CAST(41051230025 AS Decimal(18, 0)), 3, NULL, 1000000.0000)
INSERT [dbo].[ServiceMehanic] ([serviceTicketID], [serviceID], [mechanicID], [hours], [comment], [rate]) VALUES (10111231, 2, CAST(41051230025 AS Decimal(18, 0)), 2, NULL, 2000000.0000)
INSERT [dbo].[ServiceMehanic] ([serviceTicketID], [serviceID], [mechanicID], [hours], [comment], [rate]) VALUES (10111231, 3, CAST(41051230026 AS Decimal(18, 0)), 1, NULL, 1800000.0000)
/****** Object:  Table [dbo].[PartsUsed]    Script Date: 01/01/2025 18:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsUsed](
	[serviceTicketID] [int] NOT NULL,
	[partID] [decimal](18, 0) NOT NULL,
	[numberUsed] [int] NULL,
	[price] [money] NULL,
 CONSTRAINT [PRK_serviceTicketID_partID] PRIMARY KEY CLUSTERED 
(
	[serviceTicketID] ASC,
	[partID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PartsUsed] ([serviceTicketID], [partID], [numberUsed], [price]) VALUES (10111231, CAST(112 AS Decimal(18, 0)), 1, 1500000.0000)
INSERT [dbo].[PartsUsed] ([serviceTicketID], [partID], [numberUsed], [price]) VALUES (10111231, CAST(115 AS Decimal(18, 0)), 1, 200000.0000)
INSERT [dbo].[PartsUsed] ([serviceTicketID], [partID], [numberUsed], [price]) VALUES (10111232, CAST(102 AS Decimal(18, 0)), 1, 155000.0000)
/****** Object:  ForeignKey [PK_carID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [PK_carID] FOREIGN KEY([carID])
REFERENCES [dbo].[Cars] ([carID])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [PK_carID]
GO
/****** Object:  ForeignKey [PK_custID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [PK_custID] FOREIGN KEY([custID])
REFERENCES [dbo].[Customer] ([custID])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [PK_custID]
GO
/****** Object:  ForeignKey [PK_salesID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[SalesInvoice]  WITH CHECK ADD  CONSTRAINT [PK_salesID] FOREIGN KEY([salesID])
REFERENCES [dbo].[SalesPerson] ([salesID])
GO
ALTER TABLE [dbo].[SalesInvoice] CHECK CONSTRAINT [PK_salesID]
GO
/****** Object:  ForeignKey [PK_carID2]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[ServiceTicket]  WITH CHECK ADD  CONSTRAINT [PK_carID2] FOREIGN KEY([carID])
REFERENCES [dbo].[Cars] ([carID])
GO
ALTER TABLE [dbo].[ServiceTicket] CHECK CONSTRAINT [PK_carID2]
GO
/****** Object:  ForeignKey [PK_custID2]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[ServiceTicket]  WITH CHECK ADD  CONSTRAINT [PK_custID2] FOREIGN KEY([custID])
REFERENCES [dbo].[Customer] ([custID])
GO
ALTER TABLE [dbo].[ServiceTicket] CHECK CONSTRAINT [PK_custID2]
GO
/****** Object:  ForeignKey [PK_mechanicID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[ServiceMehanic]  WITH CHECK ADD  CONSTRAINT [PK_mechanicID] FOREIGN KEY([mechanicID])
REFERENCES [dbo].[Mechanic] ([mechanicID])
GO
ALTER TABLE [dbo].[ServiceMehanic] CHECK CONSTRAINT [PK_mechanicID]
GO
/****** Object:  ForeignKey [PK_serviceID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[ServiceMehanic]  WITH CHECK ADD  CONSTRAINT [PK_serviceID] FOREIGN KEY([serviceID])
REFERENCES [dbo].[Service] ([serviceID])
GO
ALTER TABLE [dbo].[ServiceMehanic] CHECK CONSTRAINT [PK_serviceID]
GO
/****** Object:  ForeignKey [PK_serviceTicketID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[ServiceMehanic]  WITH CHECK ADD  CONSTRAINT [PK_serviceTicketID] FOREIGN KEY([serviceTicketID])
REFERENCES [dbo].[ServiceTicket] ([serviceTicketID])
GO
ALTER TABLE [dbo].[ServiceMehanic] CHECK CONSTRAINT [PK_serviceTicketID]
GO
/****** Object:  ForeignKey [PK_partID]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[PartsUsed]  WITH CHECK ADD  CONSTRAINT [PK_partID] FOREIGN KEY([partID])
REFERENCES [dbo].[Parts] ([partID])
GO
ALTER TABLE [dbo].[PartsUsed] CHECK CONSTRAINT [PK_partID]
GO
/****** Object:  ForeignKey [PK_serviceTicketID2]    Script Date: 01/01/2025 18:40:59 ******/
ALTER TABLE [dbo].[PartsUsed]  WITH CHECK ADD  CONSTRAINT [PK_serviceTicketID2] FOREIGN KEY([serviceTicketID])
REFERENCES [dbo].[ServiceTicket] ([serviceTicketID])
GO
ALTER TABLE [dbo].[PartsUsed] CHECK CONSTRAINT [PK_serviceTicketID2]
GO
