<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginCheckFilter</filter-name>
        <filter-class>Filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCustServlet</servlet-name>
        <servlet-class>controller.loginCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesInvoiceServlet</servlet-name>
        <servlet-class>controller.SalesInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSalesServlet</servlet-name>
        <servlet-class>controller.loginSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginMechanicServlet</servlet-name>
        <servlet-class>controller.loginMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartServlet</servlet-name>
        <servlet-class>controller.PartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerServlet</servlet-name>
        <servlet-class>controller.GetCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailsServlet</servlet-name>
        <servlet-class>controller.CustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralEdgeCaseHandler</servlet-name>
        <servlet-class>controller.GeneralEdgeCaseHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>controller.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCarServlet</servlet-name>
        <servlet-class>controller.GetCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>controller.AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsServlet</servlet-name>
        <servlet-class>controller.CarDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>controller.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCarServlet</servlet-name>
        <servlet-class>controller.EditCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceTicketServlet</servlet-name>
        <servlet-class>controller.AddServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceTicketServlet</servlet-name>
        <servlet-class>controller.GetServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketDetailsServlet</servlet-name>
        <servlet-class>controller.ServiceTicketDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCustServlet</servlet-name>
        <url-pattern>/loginCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSalesServlet</servlet-name>
        <url-pattern>/loginSalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginMechanicServlet</servlet-name>
        <url-pattern>/loginMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartServlet</servlet-name>
        <url-pattern>/SalesDashboard/PartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerServlet</servlet-name>
        <url-pattern>/GetCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailsServlet</servlet-name>
        <url-pattern>/CustomerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralEdgeCaseHandler</servlet-name>
        <url-pattern>/GeneralEdgeCaseHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCarServlet</servlet-name>
        <url-pattern>/GetCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/AddCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsServlet</servlet-name>
        <url-pattern>/CarDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCarServlet</servlet-name>
        <url-pattern>/EditCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceTicketServlet</servlet-name>
        <url-pattern>/AddServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceTicketServlet</servlet-name>
        <url-pattern>/GetServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketDetailsServlet</servlet-name>
        <url-pattern>/ServiceTicketDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
    <Connector URIEncoding="UTF-8" connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443" useBodyEncodingForURI="true"/>s
    <servlet>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controller.UpdateServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <servlet-class>controller.ServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controller.ServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <servlet-class>controller.SearchServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceTicketServlet</servlet-name>
        <servlet-class>controller.LoadServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServiceTicketServlet</servlet-name>
        <servlet-class>controller.CustomerServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>controller.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <url-pattern>/ServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/ServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <url-pattern>/SearchServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceTicketServlet</servlet-name>
        <url-pattern>/LoadServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServiceTicketServlet</servlet-name>
        <url-pattern>/CustomerServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
